[submodule "Simple-Web-Server"]
	path = Simple-Web-Server
	url = git@github.com:DraconPern/Simple-Web-Server.git
	branch = master
[submodule "fmjpeg2koj"]
	path = fmjpeg2koj
	url = git@github.com:DraconPern/fmjpeg2koj.git
	branch = master
[submodule "poco"]
	path = poco
	url = https://github.com/pocoproject/poco.git
	branch = poco-1.6.1
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
	branch = master
[submodule "openjpeg"]
	path = openjpeg
	url = https://github.com/uclouvain/openjpeg.git
	branch = master
